doctype html
html(lang="en")
    head
        include partials/head
        meta(name="description", content="Reban: Origin], the first game of a series telling a story surrounding life, emotions and the world")
        script(src="bundle.js", defer="")
    body
        canvas.game-viewport